body {
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #EDECD0;
}

/* 鼠标选取后的背景色 */
::-moz-selection {
    color: #fff;
    background-color: #C9A655;
}

::selection {
    color: #fff;
    background-color: #C9A655;
}

.demo-color {
    background: #BEC2A1 #EDECD0 #676863 #DE946F #C9A655;
}

a {
    text-decoration: none;
    color: #313131;
}

a:hover {
    text-decoration: none;
    color: #DE946F;
}

.yy-foot {
    color: #111;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #DE946F;
    border-color: #DE946F;
}

.page-link,
.commentCount {
    color: #DE946F;
}

.card-body {
    /* border-top: 1px solid #DE946F; */
}

.card-body a:hover {
    text-decoration: none;
    color: #DE946F;
}

.card {
    /* border: 1px solid #eee; */
}

.yy-top-navi {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.43);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: #BEC2A1;
}

.commentBtn .btn {
    background: #DE946F;
}